{% extends "base.html" %}
{% block content %}
<!-- container -->
<div class="container home-m">
    <!-- row -->
    <div class="row">
        {% if featured_posts %}
        {% for post in featured_posts %}


        <div class="col-md-6">
            <div class="post">
                <div class="parent">
                    <a class="post-img" href="{{url_for('posts.post', post_id=post.id)}}"><img class="img-div"
                            src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}"
                            alt="post thumbnail"></a>
                </div>
                <div class="post-body">
                    <div class="post-meta">
                        {% for tag in post.tags %}
                        <a class="post-category" style="background-color: {{tag.colour}};"
                            href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}"> {{tag.name}}</a>
                        {% endfor %}
                        <span class="post-date"> {{ post.date_posted.strftime("%B %d, %Y") }} </span>

                        <span class="h-author"><a
                                href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a></span>
                    </div>
                    <h3 class="post-title" id="post-t"><a
                            href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h3>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h2>Recent Posts</h2>
            </div>
        </div>
        {% for post in posts.items %}
        <div class="col-md-4">
            <div class="post">
                <div class="parent">
                    <a class="post-img" href="{{url_for('posts.post', post_id=post.id)}}"><img class="img-div-body"
                            src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}"
                            alt="post thumbnail"></a>
                </div>
                <div class="post-body">
                    <div class="post-meta">
                        {% for tag in post.tags %}
                        <a class="post-category" style="background-color: {{tag.colour}};"
                            href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}"> {{tag.name}}</a>
                        {% endfor %}
                        <span class="post-date"> {{ post.date_posted.strftime("%B %d, %Y") }} </span>

                        <span class="h-author"><a
                                href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a></span>
                    </div>
                    <h3 class="post-title" id="post-t"><a
                            href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h3>
                </div>
            </div>
        </div>
        {% endfor %}



        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Author's pick</h2>
                </div>
                <div class="row">


                    <!-- author pick - just one -->
                    {% if featured_posts %}
                    {% for post in featured_posts %}
                    <div class="col-md-12">
                        <div class="post">
                            <div class="parent">
                                <a class="post-img" href="{{url_for('posts.post', post_id=post.id)}}"><img
                                        class="img-div-body"
                                        src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}"
                                        alt="post thumbnail"></a>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    {% for tag in post.tags %}
                                    <a class="post-category" style="background-color: {{tag.colour}};"
                                        href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}">
                                        {{tag.name}}</a>
                                    {% endfor %}
                                    <span class="post-date"> {{ post.date_posted.strftime("%B %d, %Y") }} </span>

                                    <span class="h-author"><a
                                            href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a></span>
                                </div>
                                <h3 class="post-title" id="post-t"><a
                                        href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- another tag maybe like Popular -->
                    {% for post in posts.items %}

                    
                    <div class="col-md-4">
                        <div class="post">
                            <div class="parent">
                                <a class="post-img" href="{{url_for('posts.post', post_id=post.id)}}"><img
                                        class="img-div-body"
                                        src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}"
                                        alt="post thumbnail"></a>
                            </div>
                            <div class="post-body">
                                <div class="post-meta">
                                    {% for tag in post.tags %}
                                    <a class="post-category" style="background-color: {{tag.colour}};"
                                        href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}">
                                        {{tag.name}}</a>
                                    {% endfor %}
                                    <span class="post-date"> {{ post.date_posted.strftime("%B %d, %Y") }} </span>

                                    <span class="h-author"><a
                                            href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a></span>
                                </div>
                                <h3 class="post-title" id="post-t"><a
                                        href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            



        </div>

    </div>
</div>
<!-- Pagination
        left_edge = 1: show one leftmost page,
        left_current = 1: show one page behind current page,
        right_current = 2: show the current page and the next page
        right_edge = 1: show one rightmost page.

        Three styling options:
        For current page, fill in the button
        For other pages which are shown, outline button
        For redacted pages, ...
    -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<!-- <a class="btn btn-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a> -->
{% else %}
<!-- <a class="btn btn-outline-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a> -->
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}
{% block javascript %}
<script>
    AOS.init();
</script>
{% endblock javascript%}