{% extends "base.html" %} 

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <!-- most recent posts are first -->
    {% for featured_post in featured_posts|reverse %}
      {% if loop.index == 1 %} <!-- most recent post is active post -->
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}

      <a href="{{url_for('posts.post', post_id=featured_post.id)}}">
        <img
          class="d-block w-100"
          src="{{url_for('static', filename='thumbnails/' + featured_post.thumbnail)}}"
          alt="Slide {{loop.index}}"
        />
      </a>

      <div class="carousel-caption d-none d-md-block">
        <h2 class="tee">{{featured_post.title}}</h2>
      </div>
    </div> <!-- end carousel-item -->
    {% endfor %}
  </div> <!-- end carousel-inner -->

  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> <!-- end carouselExampleIndicators -->

<!-- container -->
<div class="home-m">
  <!-- row -->
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-lg-10">
          <div class="section-title">
            <h5>Recent Posts</h5>
          </div>
        </div>
        <hr />
        {% for post in posts.items %}
        <div class="col-md-11 col-lg-11">
          <div class="post" data-aos="fade-up">
            <div class="parent">
              <a
                class="post-img"
                href="{{url_for('posts.post', post_id=post.id)}}"
                ><img
                  class="img-div-body"
                  src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}"
                  alt="post thumbnail"
              /></a>
            </div> <!-- end parent -->
            <div class="post-body">
              <div class="post-meta">
                {% for tag in post.tags %}
                  <a class="post-category" style="background-color: {{tag.colour}};" href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}">{{tag.name}}</a>
                {% endfor %}
                <span class="post-date">
                  {{ post.date_posted.strftime("%B %d, %Y") }}
                </span>

                <span>
                  <a href="{{url_for('users.user_posts', username=post.author.username)}}" class="h-author">{{ post.author.username }}</a>
                </span>
              </div>
              <h3 class="post-title" id="post-t">
                <a href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a>
              </h3>
            </div> <!-- end post-body -->
          </div> <!-- end class=post -->
        </div> <!-- end col-md-11 -->
        {% endfor %}
      </div> <!-- end row -->
    </div> <!-- end col-md-9 -->
    <div class="col-md-1">
      <div class="row">
        <div class="col-md-12 col-lg-12 d-none d-lg-block cat-block affix">
          <div class="post-body">
            <div class="post-meta">
            {% for tag in tags %}
              <a class="post-category" style="background-color: {{tag.colour}}; width: 100%" href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}">{{tag.name}}</a>
            {% endfor %}
            </div>
          </div>
          <br />

          <div class="section-title">
            <h3>Youtube Picks</h3>
          </div>
          <br />
          <iframe src="https://www.youtube.com/embed/yCsgoLc_fzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/SjJulcvTA7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
          <iframe src="https://www.youtube.com/embed/mWj1ZEQTI8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
          <br />

        </div> <!-- end col-md-12 -->
        <div id="722891576">
            <script type="text/javascript">
                try {
                    window._mNHandle.queue.push(function (){
                        window._mNDetails.loadTag("722891576", "160x600", "722891576");
                    });
                }
                catch (error) {}
            </script>
        </div>
      </div> <!-- end row -->
      
    </div> <!-- end col-md-1 -->
  </div> <!-- end row -->
</div> <!-- end home-m -->
<div class="bg-modal">
  <div class="modal-contents">
    <div class="close">+</div>

    <form action="">
      <h2 class="modal-title">Join Our Mailing List</h2>
      <input class="iinput" type="text" placeholder="Name" id="modal-name" />
      <input
        class="iinput"
        type="email"
        placeholder="E-Mail"
        id="modal-email"
      />
      <button type="button" class="btn btn-light sub-b" id="modal-button">
        Join
      </button>
    </form>
  </div>
</div>

<div class="center-text">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
    {% if page_num %} 
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a>
      {% else %}
        <a class="btn btn-info-light mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a>
      {% endif %} 
    {% else %}
      ... 
    {% endif %} 
  {% endfor %}
</div>

{% endblock content %} 

{% block javascript %}
<script>
  AOS.init();
  var fixmeTop = $(".fixme").offset().top;
  $(window).scroll(function () {
    var currentScroll = $(window).scrollTop();
    if (currentScroll >= fixmeTop) {
      $(".fixme").css({
        position: "fixed",
      });
    } else {
      $(".fixme").css({
        position: "static",
      });
    }
  });
</script>
{% endblock javascript %}