{% extends "base.html" %}
{% block content %}
<div class="homepageb">
    <div class="about_b" data-aos="zoom-out-down">
        <div class="about_title cent-text">
            <h1 class="bold-te">NAME</h1>
            <h3 class="lead">Speak STEM with English, Be who you could never have been</h3>
        </div>
    </div>
    <div data-aos="zoom-in zoom-out" data-aos-duration="2000">
        <div id="grid">
            <div class="hackathon content-pad">Programming</div>
            <div class="book content-pad">Reading</div>
            <div class="coding content-pad">STEM Events</div>
        </div>
    </div>
    <div class="hp-block" data-aos="zoom-in zoom-out" data-aos-duration="2000">
        <div class="block-half" data-aos="fade-up" data-aos-duration="2000">
            <h1 class="hp-des cent-text big-t">英語でSTEM</h1>
        </div>
        <h1 class="hp-smallt">STEM+English=?</h1>
        <h1 class="hp-xsmallt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
        <h1 class="hp-smallt">What will you get out of our website</h1>
        <h1 class="hp-xsmallt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
    </div>
    <ul>
        {% for tag in tags %}
        <li> <a href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}">{{tag.name }} </a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
{% block javascript %}
<script>
AOS.init();
</script>
{% endblock javascript%}