{% extends "base.html" %}

{% block content %}
<div id="post-header" class="page-header">
	<div class="background-img">
		<img class="background-img" id="thumbnail" src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="post-meta">
					{% for tag in post.tags %}
						<a class="post-category" style = "background-color: {{tag.colour}};" href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}"> {{tag.name}}</a>
					{% endfor %}
				</div>
				<h1 class="big-t">{{ post.title }}</h1>

				{% if current_user.is_authenticated %}
				    {% if current_user.has_liked_post(post) %}
				    	<a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}"> <i class="fas fa-thumbs-up thumb"></i> </a>
				    {% else %}
				    	<a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}"> <i class="far fa-thumbs-up thumb"></i> </a>
				    {% endif %}
				{% else %}
					<a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}"> <i class="far fa-thumbs-up thumb"></i> </a>
       			{% endif %}
			<div class="likeCount">
				{{ post.likes.count() }} likes
        </div>
      </div>
    </div>
	</div>
</div>
<div class="text-post">
	<div id="post-content"><p class="article-content">{{ post.content|safe }}</p></div>
	<div class="section-row" style="padding:8px;">
		<div class="post-author">
			<div class="media">
				<div class="media-left">
					<img class="media-object" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="">
				</div>
				<div class="media-body">
					{% if post.author == current_user %}
						<div>
			 				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('posts.update_post', post_id=post.id)}}"> Update </a>
							<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"> Delete </button>
						</div>
			 		{% endif %}
					<div class="media-heading">
						<a class="mr-2 author-t" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
						<small class="text-muted">{{ post.date_posted.strftime("%Y/%m/%d") }}</small>
					</div>

					<div class="author-bio">
					{% if post.author.bio %}
						<p class="author-text">{{post.author.bio}}</p>
					{% else %}
						<p class="author-text"> This author is mysterious! </p>
					{% endif %}
					<!-- <ul class="author-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<hr/>
<div class="text-post">

<div class="comment-outer">
	{% for comment in comments %}
		<div>
  <div class="row">
    <div class="col-md-10 col-sm-10">
      
        <div class="panel-body">
          <header class="text-left">
            <div class="comment-user"><i class="fa fa-user"></i><span class="comment-user">{{comment.name}}</span>
            <span class="comment-user"><i class="fa fa-clock-o"></i>{{comment.timestamp.strftime("%B %d, %Y %H:%M")}}</span>
            </div>
          </header>
          <div class="comment-post">
            <p>
              {{comment.content|safe}}
            </p>
          </div>
        </div>
      
    </div>
  </div>
</div>
{% endfor %}

</div class="comment-area">
	<form method="POST" class="t-padding" action="">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend> Leave a Comment </legend>
			{% if current_user.is_authenticated %}
				<div> Commenting as {{current_user.username}} </div>
			{% else %}
			<div>
				{{ form.name.label }}

				{% if form.name.errors %}
					{{form.name }}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name }}
				{% endif %}
			</div>
			{% endif %}

			<div>
				{% if form.content.errors %}
					{{form.content }}
					<div class="invalid-feedback" class="col-md-10 col-sm-10">
						{% for error in form.content.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.content }}
				{% endif %}
      </div>
    </fieldset>
		<div class="button-area">
			{{ form.submit }}
		</div>
	</form>
</div>

<div>
	{% for post in recent_posts %}
		<a href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a>
	{% endfor %}
</div>

<!-- Modal https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{url_for('posts.delete_post', post_id=post.id)}}" method="POST">
        	<input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
