{% extends "base.html" %}

{% block content %}
<div id="post-header" class="page-header">
	<div class="background-img">
		<img class="background-img" id="thumbnail" src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="post-meta">
					{% for tag in post.tags %}
						<a class="post-category" style = "background-color: {{tag.colour}};" href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}"> {{tag.name}}</a>
					{% endfor %}</a>
				</div>
				<h1 class="big-t">{{ post.title }}</h1>
				<a href="#" class="like-button" id="like-b">
					<?xml version="1.0" encoding="utf-8"?>
					<svg width="30" height="30" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg>
					</a><span class="like-text" id="like-text">Like</span>
			</div>
		</div>
	</div>
</div>


<div class="text-post">
	<div id="post-content"><p class="article-content">{{ post.content|safe }}</p></div>
	<div class="section-row" style="padding:8px;">
		<div class="post-author">
			<div class="media">
				<div class="media-left">
					<img class="media-object" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="">
				</div>
				<div class="media-body">
					<div class="media-heading">
						<a class="mr-2 author-t" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
					</div>

					<div class="author-bio">
					{% if post.author.bio %}
						<p class="author-text">{{post.author.bio}}</p>
					{% else %}
						<p class="author-text"> This author is mysterious! </p>
					{% endif %}
					<!-- <ul class="author-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{url_for('posts.delete_post', post_id=post.id)}}" method="POST">
        	<input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block javascript %}
<script>

let button = document.querySelector(".like-button");

button.addEventListener("click", function(e) {
  e.preventDefault();
  this.classList.toggle("active");//<---- toggling the color
  this.classList.add("animated");

  $("#like-text").toggle();//<---- text toggle
//   generateClones(this);
});//<--- toggle

function generateClones(button) {
  let clones = randomInt(2, 4);
  for (let it = 1; it <= clones; it++) {
    let clone = button.querySelector("svg").cloneNode(true),
      size = randomInt(5, 16);
    button.appendChild(clone);
    clone.setAttribute("width", size);
    clone.setAttribute("height", size);
    clone.style.position = "absolute";
    clone.style.transition =
      "transform 0.5s cubic-bezier(0.12, 0.74, 0.58, 0.99) 0.3s, opacity 1s ease-out .5s";
    let animTimeout = setTimeout(function() {
      clearTimeout(animTimeout);
      clone.style.transform =
        "translate3d(" +
        (plusOrMinus() * randomInt(10, 25)) +
        "px," +
        (plusOrMinus() * randomInt(10, 25)) +
        "px,0)";
      clone.style.opacity = 0;
    }, 1);
    let removeNodeTimeout = setTimeout(function() {
      clone.parentNode.removeChild(clone);
      clearTimeout(removeNodeTimeout);
    }, 900);
    let removeClassTimeout = setTimeout( function() {
      button.classList.remove("animated")
    }, 600);
  }
}


function plusOrMinus() {
  return Math.random() < 0.5 ? -1 : 1;
}

function randomInt(min, max) {
  return Math.floor(Math.random() * (max - min + 1) + min);
}

</script>
{% endblock javascript %}
