{% extends "base.html" %}

{% block content %}
<div id="post-header" class="page-header">
	<div class="background-img">
		<img class="background-img" id="thumbnail" src="{{url_for('static', filename='thumbnails/' + post.thumbnail)}}">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="post-meta">
					{% for tag in post.tags %}
						<a class="post-category" style = "background-color: {{tag.colour}};" href="{{url_for('posts.tag_posts', tag_name=tag.name, page=1)}}"> {{tag.name}}</a>
					{% endfor %}</a>
				</div>
				<h1 class="big-t">{{ post.title }}</h1>
			</div>
		</div>
	</div>
</div>

<div class="text-post">
	<p class="article-content"><div id="post-content">{{ post.content|safe }}</div></p>

	<div class="section-row" style="padding:40px;">
		<div class="post-author">
			<div class="media">
				<div class="media-left">
					<img class="media-object" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="">
				</div>
				<div class="media-body">
					<div class="media-heading">
						<a class="mr-2 author-t" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
					</div>
					{% if post.author.bio %}
						<p class="author-text">{{post.author.bio}}</p>
					{% else %}
						<p class="author-text"> This author is mysterious! </p>
					{% endif %}
					<!-- <ul class="author-social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{url_for('posts.delete_post', post_id=post.id)}}" method="POST">
        	<input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}