{% extends "base.html" %}

{% block content %}
	<form method="POST" action=""> <!-- empty action means it will post back to the same route -->
		{{ form.hidden_tag() }} <!-- Adds a CSRF (Cross Site Request Forgery) token -->
		<fieldset class="form-group rlpadding">
			<legend class="border-bottom mb-4"> Join Today</legend>
			<div class="form-group row-width">
				{{ form.username.label(class="form-control-label") }}

				{% if form.username.errors %}
					{{form.username(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group row-width">
				{{ form.email.label(class="form-control-label") }}

				{% if form.email.errors %}
					{{form.email(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group row-width">
				{{ form.password.label(class="form-control-label") }}
				
				{% if form.password.errors %}
					{{form.password(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group row-width">
				{{ form.confirm_password.label(class="form-control-label") }}
				
				{% if form.confirm_password.errors %}
					{{form.confirm_password(class="form-control form-control-lg is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span> {{error}} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>

		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<div class="border-top pt-3 rlpadding">
		<small class="text-muted">
			Already Have An Account? <a class="ml-2" href="{{url_for('users.login') }}"> Sign In </a> <!-- name of the function not route -->
		</small>
	</div>
{% endblock content %} <!-- the name of the block "content" in endblock is optonal -->